<div class="list-group h-100">
    <a routerLink="" class="dashboard list-group-item list-group-item-action pt-5 pb-5 text-center">Tableau de
        bord</a>
    <a routerLink="/depenses" class="expenses list-group-item list-group-item-action pt-5 pb-5 text-center">Dépenses</a>
    <a routerLink="/revenus" class="incomes list-group-item list-group-item-action pt-5 pb-5 text-center">Revenus </a>
    <a routerLink="/epargne" class="savings list-group-item list-group-item-action pt-5 pb-5 text-center">Epargne</a>
    <a routerLink='/projets' class="projects list-group-item list-group-item-action pt-5 pb-5 text-center">Projets</a>
</div>