<h1 class="h1 text-center m-4">{{title}}</h1>
<div class="row md-2">
    <div class="card mx-auto col-md-5 d-flex flex-column p-1">
        <div class="card-header text-center income">Revenu mensuel total</div>
        <div class="list-group list-group-flush">
            <div class="list-group-item text-center bold" [ngStyle]="{color:'rgb(87, 191, 87)'}">{{totalIncomes |
                number:'1.2-2':'fr-FR'}} €
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <h2 class="h5 text-center">Ajouter une dépense ou un revenu</h2>
        <div>Montant : <input type="number" class="form-control" placeholder="Entrer un montant" id="input"
                [(ngModel)]="inputValue" required></div>
        <div>Catégorie : <input type="text" pattern="[^\d]*" required [(ngModel)]="inputCategory"
                placeholder="Ex : Remboursement" class="form-control">
        </div>
        <button class="btn btn-success" (click)="addIncome()">Revenu</button>
    </div>
</div>
<div class="row md-2">
    <div class="card mx-auto col-md-5 d-flex flex-column p-1">
        <div class="card-header text-center past_incomes">Derniers revenus</div>
        <div class="text-center total" [ngStyle]="{color:'rgb(72, 150, 72)'}">Total : {{totalPastIncomes|
            number:'1.2-2':'fr-FR'}} €</div>
        <ul class="list-group list-group-flush" id="last_expense">
            <li class="list-group-item" *ngFor="let income of pastIncomes" (mouseenter)="index = income"
                (mouseleave)="index = -1">
                {{income.amount|
                number:'1.2-2':'fr-FR'}} €
                <div class='desc'>{{income.description}}</div>
                <div *ngIf="index === income">
                    <button class="btn btn-danger" (click)="deleteIncome(income)">Supprimer</button>
                    <button class="btn btn-info" (click)="updateIncome(income)">Modifier</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="card mx-auto col-md-5 d-flex flex-column p-1">
        <div class="card-header text-center future_incomes">Revenus à venir</div>
        <div class="text-center total" [ngStyle]="{color:'rgb(142, 218, 142)'}">Total : {{totalFutureIncomes|
            number:'1.2-2':'fr-FR'}} €</div>
        <ul class='list-group list-group-flush'>
            <li class="list-group-item" *ngFor="let income of futureIncomes">{{income.amount|
                number:'1.2-2':'fr-FR'}} €
                <div class='desc'>{{income.description}}</div>
            </li>
        </ul>
    </div>
</div>